#chatwrap {
	height: calc(100dvh - var(--navbarheight))!important;
}

#mainpage .container-fluid {
	height: 100dvh!important;
  	width: calc(100dvw - var(--chatwidth)) !important;
}

#videowrap {
  height: calc(100dvh - var(--navbarheight)) !important;
  width: calc(100dvw - var(--chatwidth)) !important;
}

#motdrow > div, #playlistrow > #rightpane {
  padding: 10px 5px;
}

.row {
  padding: 0 5px;
}