@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

body {
	background-color: #0e1015;
	font-size: 1.5em;
}

body,
.navbar .navbar-brand,
#chatwrap {
	font-family: "Quicksand";
}

code {
	padding: 2px 10px;
	font-size: 90%;
	color: #fd2d2d;
	background-color: #201e29;
	border-radius: 4px;
}

.btn-default {
	color: #dfefffe0;
	background-color: #000000ba;
	border-color: #ffffff0a;
	background-image: none !important;
}

.btn-primary {
	background: #1f1c21 !important;
}

.btn-default.disabled,
.btn-default.disabled.active,
.btn-default.disabled.focus,
.btn-default.disabled:active,
.btn-default.disabled:focus,
.btn-default.disabled:hover,
.btn-default[disabled],
.btn-default[disabled].active,
.btn-default[disabled].focus,
.btn-default[disabled]:active,
.btn-default[disabled]:focus,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default,
fieldset[disabled] .btn-default.active,
fieldset[disabled] .btn-default.focus,
fieldset[disabled] .btn-default:active,
fieldset[disabled] .btn-default:focus,
fieldset[disabled] .btn-default:hover {
	background-color: rgba(42, 45, 47, 0.18);
}

.btn-default.active,
.btn-default.focus,
.btn-default:active,
.btn-default:focus,
.btn-default:hover,
.open>.dropdown-toggle.btn-default {
	color: #fff;
	background-color: #000000ba;
	border-color: #1e2023;
}

#currenttitle {
	color: #cee8ffc4;
}

.navbar .navbar-nav>li>a {
	color: #cee8ffe5;
}

.navbar .navbar-brand {
	color: #cee8ff;
	text-transform: uppercase;
}

#mainpage {
	background-color: rgba(0, 0, 0, 0.1);
}

.navbar {
	background-image: none !important;
	background: #07080af7;
}

body,
#chatwrap {
	color: #adb0c3;
}

.chat-msg {
	font-weight: 700;
}

#chatheader {
	color: #cee8ffd6;
}

#chat-footer {
	color: #cee8ff;
}

#wrap {
	background-position-x: 50%;
	background-position-y: 50%;
	background-repeat: no-repeat;
	background-size: cover;
}

#userlist,
#messagebuffer,
#chat-footer,
#chatheader {
	background: #0e1015f7;
}

#chat-footer {
	border-top: 1px #1b2023 solid;
}

#chatheader {
	border-bottom: 1px #b6c9ff14 solid;
}

.btn-chat {
	border: 0px solid rgba(255, 255, 255, 0.05);
	background: #ffffff0a;
	color: #cee8ff;
}

.nick-hover {
	background-color: #3e3e5536;
}

.nick-highlight {
	background-color: #b5262629;
}

#chatline {
	background-color: hsla(0, 0%, 100%, .06) !important;
}

.navbar-nav>li>a {
	font-size: 10px;
	font-weight: 400;
}

.navbar-size-tiny .navbar .visible-md #loginform,
.navbar-nav>li>a {
	text-transform: uppercase;
}

.timestamp {
	color: rgb(255 255 255 / 8%);
}

.well {
	border: 0px solid #0c0d0e;
	font-weight: 700;
}

.section,
#controlsrow,
.well {
	background: #0e1015fa;
}

.section,
#controlsrow,
.alert-info,
#messagebuffer,
#chatheader,
#chat-footer {
	backdrop-filter: saturate(100%) blur(8px);
}

.alert-info {
	background-color: #151b24f7;
	border-color: #3d9ed8;
	color: #fff;
}

.modal-content {
	background: #0e1015fa;
}

.close {
	font-size: 24px;
	color: #fff;
	opacity: 1;
	cursor: pointer;
}

.close:focus,
.close:hover {
	color: #ffffff80;
}

table {
	background-color: rgba(0, 0, 0, 0.24);
}

.form-control {
	border: 0px solid #ccc;
	height: 35px;
	background: #0a0a0a;
	color: #c1d0e0;
	border-radius: 5px;
}

input.form-control[type="text"],
input.form-control[type="password"],
input.form-control[type="email"],
textarea.form-control {
	color: #8b93a7;
	background: #ffffff0f !important;
}

input[type="checkbox"] {
	border: 1px solid #4f4f4f;
	background: transparent;
}

.checkbox {
	color: #8f8f8f;
}

.pagination>li.disabled>a,
.pagination>li.disabled>a:hover,
.pagination>li.disabled>span,
.pagination>li.disabled>span:hover {
	background-color: transparent;
	background-image: -webkit-linear-gradient(#484e55, #3a3f44 60%, #313539);
	background-image: -o-linear-gradient(#484e55, #3a3f44 60%, #313539);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#484e55), color-stop(60%, #3a3f44), to(#313539));
	background-image: linear-gradient(rgba(0, 0, 0, 0.12), rgba(0, 0, 0, 0.16) 60%, rgba(0, 0, 0, 0.15));
	background-repeat: no-repeat;
	-webkit-filter: none;
	filter: none;
}

.nav-tabs li a {
	color: #fff;
	font-weight: 700;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
	color: #fff;
	background-color: rgba(0, 0, 0, 0.14);
	border: 1px solid #1c1e22;
	border-bottom-color: transparent;
	cursor: default;
}

.nav>li>a:focus,
.nav>li>a:hover {
	text-decoration: none;
	background-color: rgba(0, 0, 0, 0.29);
}

.pagination>li>a,
.pagination>li>span {
	background-color: rgba(21, 21, 21, 0.26);
	border: 1px solid rgba(0, 0, 0, 0.46);
	background-image: none !important;
}

:hover::-webkit-scrollbar {
	background: #19191999;
}

:hover::-webkit-scrollbar-thumb {
	background: linear-gradient(to bottom, #a5045a, #ea6465);
}

::-webkit-scrollbar {
	width: 7px;
	background: rgba(255, 255, 255, 0);
}

::-webkit-scrollbar-track {
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background: rgba(255, 255, 255, 0);
}